body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.auth-form {
    text-align: center;
}

.auth-form input {
    display: block;
    margin-left: 0;
    margin-bottom: 10px;
    width: 200px;
}

.auth-form button {
    margin-top: 10px;
}